
# Playwright
node_modules/
/test-results/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.slingshot
.env.*

# Test output
results.xml
index.html

# IDE - JetBrains (IntelliJ/WebStorm)
.idea/
*.iml
*.xml
*.png

# IDE - VS Code
.vscode/mcp.json

# Markdown files
# *.md

# Console logs
console-*.log.gz

# OS files
Thumbs.db
Desktop.ini

# Misc
*.log
